<mat-card>
  <mat-card-title>Update Employee</mat-card-title>
  <mat-card-content>
    <form [formGroup]="addEmployeeForm" (ngSubmit)="updateEmployee()" class="example-form">

      <mat-form-field class="example-full-width" appearance="fill">
        <mat-label>Name</mat-label>
        <input matInput formControlName="name" placeholder="kossam" minlength="5" maxlength="30"
          [(ngModel)]="employeeDetails.name" required>
        <mat-error *ngIf="f.name.errors?.required">Name is required</mat-error>
        <mat-error *ngIf="f.name.errors?.minlength">Minimum Length is 5 characters</mat-error>
      </mat-form-field>

      <mat-form-field class="example-full-width" appearance="fill">
        <mat-label>Email Address</mat-label>
        <input matInput formControlName="email" placeholder="exapmle@gmail.com"
          pattern="[a-zA-Z0-9.-_]{1,}@[a-zA-Z.-]{2,}[.]{1}[a-zA-Z]{2,}" [(ngModel)]="employeeDetails.email" required>
        <mat-error *ngIf="f.email.errors?.required">Email is required</mat-error>
        <mat-error *ngIf="f.email.errors?.pattern">Please enter a valid email address</mat-error>
      </mat-form-field>

      <mat-form-field class="example-full-width" appearance="fill">
        <mat-label>Phone</mat-label>
        <input matInput formControlName="phone" placeholder="+27777777777" pattern="^[0-9]{9}$" type="number"
          [(ngModel)]="employeeDetails.phone" required>
        <mat-error *ngIf="f.phone.errors?.required">Phone is required</mat-error>
        <mat-error *ngIf="f.phone.errors?.pattern">Please enter a valid cell number</mat-error>
      </mat-form-field>

      <mat-form-field class="example-full-width" appearance="fill">
        <mat-label>Salary</mat-label>
        <input matInput formControlName="salary" minlength="4" placeholder="2000" [(ngModel)]="employeeDetails.salary"
          required>
        <mat-error *ngIf="f.salary.errors?.required">Salary is required</mat-error>
        <mat-error *ngIf="f.salary.errors?.minlength">Minimum Salary Length is 4 characters</mat-error>
      </mat-form-field>

      <mat-form-field class="example-full-width" appearance="fill">
        <mat-label>Department</mat-label>
        <input matInput formControlName="department" minlength="5" maxlength="40" placeholder="Computer Science"
          [(ngModel)]="employeeDetails.department" required>
        <mat-error *ngIf="f.department.errors?.required">Department is required</mat-error>
        <mat-error *ngIf="f.department.errors?.minlength">Minimum Length is 5 characters</mat-error>
      </mat-form-field>
      <div class="row">
        <button mat-raised-button color="primary" type="submit" [disabled]="!addEmployeeForm.valid">Update</button>
        <button mat-raised-button color="warn" type="submit" (click)="deleteEmployee()">Delete</button>
      </div>
    </form>
  </mat-card-content>
</mat-card>